/**
 * Configure Tailwind v4 in this file using CSS variables and directives:
 * https://tailwindcss.com/blog/tailwindcss-v4-alpha#css-first-configuration 
 */

@import 'tailwindcss';

@theme {
  --default-font-family: var(--font-family-sans);

  --font-family-sans: 'Roboto Serif', 'Bentinck', 'Roboto Slab';

  --width-layout: 100rem;

  --color-primary: #c4aa92;
  /* --color-primary: #e3c6ac; */
  /* --color-secondary: #533f2c; */
  --color-secondary: #2b2015;
}
